<!DOCTYPE html>
<html lang="ko">
    <meta charset="UTF-8">
    <head>
        <title>MySite</title>
        <link rel="stylesheet" href="../../assets/css/reset.css">
        <link rel="stylesheet" href="../../assets/css/mysite.css">
        <link rel="stylesheet" href="../../assets/css/guestbook.css">
    </head>

    <body>
        <div id="wrap">
            <div id="header" class="clearfix">
                <h1 >MySite</h1>
                <ul class="clearfix">
                    <li>
                        <a href="" target="_blank">로그인</a>
                    </li>
                    <li>
                        <a href="" target="_blank">회원가입</a>
                    </li>
                </ul>
            </div>

            <div id="nav">
                <ul class="clearfix">
                    <li>
                        <a href="" target="_blank">입사지원서</a>
                    </li>
                    <li>
                        <a href="" target="_blank">게시판</a>
                    </li>
                    <li>
                        <a href="" target="_blank">갤러리</a>
                    </li>
                    <li>
                        <a href="" target="_blank">방명록</a>
                    </li>
                </ul>
            </div>

            <div id="content2" class="clearfix">
                <div id="aside">
                    <h2>방명록</h2>
                    <ul>
                        <li>일반방명록</li>
                        <li>ajax방명록</li>
                    </ul>
                </div>
                
                <div id="main">
                    <div id="main-head" class="clearfix">
                        <h3>일반방명록</h3>
                        <ol class="clearfix">
                            <li>홈</li>
                            <li>방명록</li>
                            <li>일반방명록</li>
                        </ol>
                    </div>
                    <table class="guest-border">
                        <col style="width: 80px;">
                        <col style="width: 320px;">
                        <col style="width: 80px;">
                        <col style="width: 320px;">
                        <tr>
                            <td>이름</td>
                            <td>
                                <input type="text" name="" value="">
                            </td>
                            <td>비밀번호</td>
                            <td>
                                <input type="text" name="" value="">
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4">
                                <textarea></textarea>
                            </td>
                            <!-- <td></td>
                            <td></td>
                            <td></td> -->
                        </tr>
                        <tr>
                            <td colspan="4">
                                <button type="submit">등록</button>
                            </td>
                            <!-- <td></td>
                            <td></td>
                            <td></td> -->
                        </tr>
                    </table>

                    <table id="guest-border1">
                        <col style="width: 80px;">
                        <col style="width: 310px;">
                        <col style="width: 310px;">
                        <col style="width: 80px;">
                        <tr>
                            <td>1234555</td>
                            <td>이정재</td>
                            <td>2020-03-03 12:12:12</td>
                            <td>[삭제]</td>
                        </tr>
                        <tr>
                            <td colspan="4">
                                방명록 글입니다. 방명록 글입니다. 
                            </td>
                            <!-- <td></td>
                            <td></td>
                            <td></td> -->
                        </tr>
                    </table>

                    <table id="guest-border2">
                        <col style="width: 80px;">
                        <col style="width: 310px;">
                        <col style="width: 310px;">
                        <col style="width: 80px;">
                        <tr>
                            <td>1234555</td>
                            <td>이정재</td>
                            <td>2020-03-03 12:12:12</td>
                            <td>[삭제]</td>
                        </tr>
                        <tr>
                            <td colspan="4">
                                방명록 글입니다. 방명록 글입니다. 
                            </td>
                            <!-- <td></td>
                            <td></td>
                            <td></td> -->
                        </tr>
                    </table>
                </div>
            </div>

            <div id="footer">
                <p>
                    Copyright ⓒ 2025 김동민. All right reserved
                </p>
            </div>
        </div>
    </body>
</html>