<!DOCTYPE html>
<html lang="ko">
    <meta charset="UTF-8">
    <head>
        <title>MySite</title>
        <link rel="stylesheet" href="../../assets/css/reset.css">
        <link rel="stylesheet" href="../../assets/css/mysite.css">
        <link rel="stylesheet" href="../../assets/css/board.css">

    </head>

    <body>
        <div id="wrap">
            <div id="header" class="clearfix">
                <h1 >MySite</h1>
                <ul class="clearfix">
                    <li>
                        <a href="" target="_blank">로그인</a>
                    </li>
                    <li>
                        <a href="" target="_blank">회원가입</a>
                    </li>
                </ul>
            </div>

            <div id="nav">
                <ul class="clearfix">
                    <li>
                        <a href="" target="_blank">입사지원서</a>
                    </li>
                    <li>
                        <a href="" target="_blank">게시판</a>
                    </li>
                    <li>
                        <a href="" target="_blank">갤러리</a>
                    </li>
                    <li>
                        <a href="" target="_blank">방명록</a>
                    </li>
                </ul>
            </div>

            <div id="content2" class="clearfix">
                <div id="aside">
                    <h2>게시판</h2>
                    <ul>
                        <li>일반게시판</li>
                        <li>댓글게시판</li>
                    </ul>
                </div>
                
                <div id="main">
                    <div id="main-head" class="clearfix">
                        <h3>일반게시판</h3>
                        <ol class="clearfix">
                            <li>홈</li>
                            <li>게시판</li>
                            <li>일반게시판</li>
                        </ol>
                    </div>
                    <!-- 작성자 현황 -->
                    <div id="read-board"">
                        <div>
                            <label for="">작성자</label>
                            <input id="" type="text" name="" value="정우성">
                        </div>
                        <div>
                            <label for="">조회수</label>
                            <input id="" type="text" name="" value="123">
                        </div>
                        <div>
                            <label for="">작성일</label>
                            <input id="" type="text" name="" value="2020-03-02">
                        </div>
                        <div>
                            <label for="">제목</label>
                            <input id="" type="text" name="" value="여기에는 글제목이 출력됩니다.">
                        </div>
                    </div>
                    <!-- 작성자 현황 -->
                    <!-- 본문내용 -->
                    <div id="read-txt">
                        <p>
                            여기에는 본문내용이 출력됩니다.<br>
                            여기에는 본문내용이 출력됩니다.<br>
                            여기에는 본문내용이 출력됩니다.<br>
                            여기에는 본문내용이 출력됩니다.<br>
                            여기에는 본문내용이 출력됩니다.<br>
                            여기에는 본문내용이 출력됩니다.<br>
                            여기에는 본문내용이 출력됩니다.<br>
                            여기에는 본문내용이 출력됩니다.<br>
                        </p>
                    </div>
                    <!-- 본문내용 -->
                    <!-- 목록, 수정 -->
                    <div id="list-change">
                        <ul>
                            <li>목록</li>
                            <li>수정</li>
                        </ul>
                    </div>
                    <!-- 목록, 수정 -->
                </div>
            </div>
            <div id="footer">
                <p>
                    Copyright ⓒ 2025 김동민. All right reserved
                </p>
            </div>
        </div>
    </body>
</html>