@charset "UTF-8";

.container{
    width: 500px;
    height: 200px;
    margin-bottom: 20px;
    border: 3px solid #000;
}
.container.row{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    /* align-content: flex-start; */
    align-content: flex-end;
}

.container.column{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}

.item1{
    /* font-size: smaller; */
    border: 3px solid #ff0000;
}

.item2{
    /* font-size: medium; */
    border: 3px solid #0000ff;
}

.item3{
    /* font-size: larger; */
    border: 3px solid #00ff00;
}