@charset "UTF-8";

.container{
    /* width: 500px; */
    height: 200px;
    margin-bottom: 20px;
    border: 3px solid #000;
}

.container.row{
    /* 성질 변경 */
    display: flex;
    flex-direction: row;
    /* 블럭의 위치 */
    justify-content: flex-start;
    /* 블럭 안에 글씨의 위치 */
    align-items: flex-start;
    /* 블럭을 테두리 안으로 감싸는 재질 */
    flex-wrap: wrap;
    /* 랩으로 감싼 블럭들의 위치 */
    align-content: flex-start;
}

.container.column{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    /* flex-wrap: wrap; */
}
 
.item1{
    /* 블럭기본크기 */
    flex-basis: auto;
    /* 블럭 늘어나는 비율 */
    flex-grow: 3;
    /* 블럭 줄어나는 비율 */
    flex-shrink: 1;

    /* font-size: smaller; */
    border: 3px solid #ff0000;
    /* 블럭 순서설정 */
    order: 0;
    /* 블럭 안에 글씨는 단독으로 변경 */
    align-self: flex-start;
}

.item2{
    flex-basis: auto;
    flex-grow: 2;
    flex-shrink: 2;

    /* font-size: medium; */
    border: 3px solid #0000ff;
    /* order: 0; */
    /* align-self: flex-start; */
}

.item3{
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 1;

    /* font-size: larger; */
    border: 3px solid #00ff00;
    /* order: 0; */
    /* align-self: flex-start; */
}