@charset "UTF-8";
/*********** 방명록 메인영역 ***********/
table{
    border-collapse: collapse;
}
/*********** 방명록 메인영역 ***********/
/*********** 방명록 공통영역 ***********/
.guest-border{
    margin-top: 15px;
}
/*********** 방명록 공통영역 ***********/
/*********** 방명록 등록영역 ***********/
/* 이름, 비밀번호 */
.guest-border tr>td{
    padding: 5px 0px 5px 5px; 
    border: 1px solid #d5d5d5;
}
.guest-border tr>td input[type="text"]{
    padding: 8px 85px;
}
/* 이름, 비밀번호 */
/* 내용 */
.guest-border tr>td textarea{
    width: 780px;
    height: 150px;
}
/* 내용 */
/* 등록버튼 */
.guest-border tr>td button{
    padding: 5px 30px;
    margin: 0px 350px;
}
/* 등록버튼 */
/*********** 방명록 등록영역 ***********/
/*********** 방명록 현황영역 ***********/
#guest-border1{
    margin-top: 30px;
}
#guest-border1 tr>td{
    padding: 10px 0px 10px 5px; 
    border: 1px solid #d5d5d5;
}

#guest-border2{
    margin: 15px 0px 30px 0px;
}
#guest-border2 tr>td{
    padding: 10px 0px 10px 5px; 
    border: 1px solid #d5d5d5;
}
/*********** 방명록 현황영역 ***********/




