@charset "UTF-8";
/*********** 메인페이지 사용 ***********/

/* content(main) */
#profile{
    width: 300px;
    float: left;
    margin-right: 50px;
}
#greeting-box{
    width: 600px;
    float: left;
    /* border: 1px solid #000; */
}
#greeting-box .greeting{
    margin-bottom: 30px;
    font-size: 22px;
    font-weight: bold;
}
#greeting-box .introduce{
    font-size: 17px;
}
/* content(main) */
/*********** 메인페이지 사용 ***********/