@charset "UTF-8";
/*********** MySite 공통 ***********/

/* 레이아웃 */
body{
    font-family: "맑은 고딕";
    font-size: 12px;
    color: #000;
}
#wrap{
    width: 1000px;
    margin: 0px auto;
    /* border: 1px solid #000; */
}
#header{
    padding: 10px 0px 10px 0px;
    border-bottom: 1px solid #585858;
    /* border: 1px solid #000; */
}
#nav{
    padding: 10px 0px 10px 0px;
    border-bottom: 1px solid #585858;
    /* border: 1px solid #000; */
}
#content{
    padding: 40px 25px;
    /* border: 1px solid #000; */
}
#content2{
    padding: 20px 0px;
    /* border: 1px solid #000; */
}
#content2 #aside{
    width: 180px;
    float: left;
    margin-right: 20px;
    /* border: 1px solid #000; */
}
#content2 #main{
    width: 796px;
    float: left;
    /* border: 1px solid #000; */
}
#footer{
    padding: 10px 0px;
    background-color: #ddd;
    /* border: 1px solid #000; */
}
/* 레이아웃 */

/* header */
#header h1{
    font-size: 35px;
    font-weight: bold;
    color: #79b30b;
    float: left;
}
#header ul{
    float: right;
    margin: 14px 0px 0px 0px;
}

#header ul>li{
    float: left;
    padding: 3px 5px 3px 5px;
    margin-left: 10px;
    border-radius: 3px;
    background-color: #e3e3e3;
    border: 1px solid #c0c0c0;
}
/* header */

/* nav */
#nav ul>li{
    width: 250px;
    float: left;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}
/* nav */

/* content2(board-list) */
#aside h2{
    padding: 20px 60px;
    /* width: 180px;
    height: 60px;
    line-height: 60px; 
    text-align: center;
    크기조절로 가운데 정렬*/
    font-size: 20px;
    font-weight: bold;
    background-color: #ddd;
}
#aside ul>li{
    padding: 8px 10px;
    margin-top: 5px;
    font-size: 15px;
    border: 1px solid #a6a6a6;
}
#main #main-head{
    padding: 15px 0px 10px 0px;
    border-bottom: 1px solid #a6a6a6;
}
#main #main-head h3{
    float: left;
    font-size: 20px;
    font-weight: bold;
}
#main #main-head ol{
    float: right;
    margin-top: 10px;
    /* background-color: aqua; */
}
#main #main-head ol>li{
    float: left;
    /* border: 1px solid #000; */
}
#main #main-head ol>li::after{
    content: ">";
    padding: 0px 3px;
}
#main #main-head ol>li:last-child::after{
    content: "";
    padding: 0px;
}
/* content(board-list) */


/* footer */
#footer p{
    text-align: center;
}
/* footer */
/*********** MySite 공통 ***********/