@charset "UTF-8";
/* 초기화 */
body, div, 
ol, ul, li, dl, dt,
h1, h2, h3, h4, h5, h6, 
form, input, select, textarea, button, fieldset, legend,
p, table, tr, th, td{
    margin: 0px; padding: 0px;
}

input, select, textarea{
    font-family: inherit;
    font-size: inherit;
}

/* clearfix */
.clearfix{*zoom:1;}
.clearfix:before, .clearfix:after {display: block; content: ""; line-height: 0;}
.clearfix:after {clear: both;}

ol, ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: inherit;
}
-------------------------------------------------------------------------------------------