@charset "UTF-8";
/*********** 회원가입 메인영역 ***********/
/*********** 회원가입 메인영역 ***********/

/*********** 회원가입 입력 ***********/
#join{
    width: 400px;
    height: 300px;
    margin: 10px auto;
    border: 1px solid #9e9d9d;
}
form{
    padding: 40px 0px;
    margin: 0px 80px;
    /* border: 1px solid #000; */
}
.form-title{
    display: inline-block;
    width: 50px;
    text-align: right;
    margin: 0px 20px 30px 0px;
}
/*********** 회원가입 입력 ***********/

