<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Jblog</title>
    <link rel="stylesheet" href="../../assets/css/reset.css">
    <link rel="stylesheet" href="../../assets/css/myblog.css">
    <link rel="stylesheet" href="../../assets/css/main.css">
</head>

<body>
    <div id="wrap">
        <!-- header -->
        <h1>
            <a href="file:///C:/javaStudy/workspace_front-1/jblog/views/main/index.html" target="_self">
                <img src="../../../jblog-사이트캡쳐-20250410T050408Z-001/jblog-사이트캡쳐/assets/images/logo.jpg" alt="블로그메인사진">
            </a>
        </h1>
        <!-- header -->
        
        <!-- nav -->
        <div id="nav" class="clearfix">
            <ul>
                <li>로그인</li>
                <li>회원가입</li>
            </ul>
        </div>
        <!-- nav -->
        
        <!-- content -->
        <div id="content">
            <!-- 검색창 -->
            <table>
                <tr>
                    <td id="search-1"></td>
                    <td id="search-2">검색</td>
                </tr>
            </table>
            <!-- 검색창 -->
            <!-- 검색항목 -->
            <div id="blog-sel"> 
                <label for="blog-title">블로그 제목</label>           
                <input id="blog-title" type="radio" name="blog" value="">
                <label for="blog-name">블로그 이름</label>           
                <input id="blog-name" type="radio" name="blog" value="">
            </div>
            <!-- 검색항목 -->
        </div>
        <!-- content -->

        <!-- footer -->
        <div id="footer" class="clearfix">
                <ul>
                    <li>회사소개</li>
                    <li>서비스소개</li>
                    <li>이용약관</li>
                    <li>개인정보처리방침</li>
                    <li>제휴</li>
                    <li>채용</li>
                    <li>고객센터</li>
                    <li>ⓒ방구석 internet</li>
                </ul>
        </div>
        <!-- footer -->
    </div>
</body>
</html>